{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mt-5">
              <h2>About Us</h2>
              <img class="about-img img-fluid" src="{{ MEDIA_URL }}about.jpg" alt="woman in a book shop">
            </div>
            <div class="col-md-6 mt-5">              
                  <p>
                    Since 2022, our daily routine has been made up of dreams and achieving them. We are bold and work according to the same value. 
                    We are proud of what we do and yearn to set off down new paths. We place the book at the centre of all our attentions and actions 
                    and perpetuate an attitude of absolute freedom to provide the foundations for a far broader intervention ranging across the entire field of culture. 
                    We establish commitments to our community and to the wider world.
                  </p>         
                  <hr>
                  <p>Email: <a href="mailto:thegoodreader@mail.com">thegoodreader@mail.com</a></p>
                  <p>Phone no: +353 081 010 0101</p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}