{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mt-5">
              <h2>About Us</h2>
              <img class="about-img img-fluid" src="{{ MEDIA_URL }}about.jpg" alt="woman in a book shop">
            </div>
            <div class="col-md-6 mt-5">              
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit placerat 
                      ullamcorper. Proin et elit massa. Nulla facilisi. Mauris id risus sed orci 
                      semper scelerisque. Vestibulum eu tellus efficitur, dignissim urna sit amet, ultrices 
                      orci. Quisque elementum gravida metus ut condimentum. 
                  </p>         
                  <hr>
                  <p>Email: <a href="mailto:thegoodreader@mail.com">thegoodreader@mail.com</a></p>
                  <p>Phone no: +353 081 010 0101</p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}