{% extends "product_detail.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="message-index col-7 col-md-6 my-auto">
                <p class="display-4 logo-font text-black">
                    The Good Reader is Ireland's leading dedicated bookseller. 
                </p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Discount bar -->
    <div id="delivery-banner" class="text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
        </div>            
    </div>    
{% endblock %}