{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="online bookstore where you can find all kinds of books">
        <meta name="keywords" content="online bookstore, books, conservatism, healthy, fitness, biography, sports, author, Roger Scruton, Matthew Continetti, Stephen King, Dr. Charles B. Corbin, 
        Hermione Lee">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">        
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Good Reader {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <div class = "col-md-6 text-center">
                <a class="logo navbar-brand" href="{% url 'home' %}"><img class="img-fluid" src="{{ MEDIA_URL }}logo2.png" alt="Website Logo"></a> 
            </div>
            <div class = "col-md-6 text-center">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">                    
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="account text-center">
                                <div><i class="fa-regular fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="cart text-center">
                                <div><i class="fa-solid fa-book fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="links logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="links logo-font font-weight-bold nav-link mr-5" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="links logo-font font-weight-bold nav-link mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
                        <a href="{% url 'products' %}?category=biography" class="dropdown-item">Biography</a>
                        <a href="{% url 'products' %}?category=conservatism" class="dropdown-item">Conservatism</a>
                        <a href="{% url 'products' %}?category=fitness" class="dropdown-item">Fitness</a>
                        <a href="{% url 'products' %}?category=sports" class="dropdown-item">Sports</a>
                        <a href="{% url 'products' %}?category=health" class="dropdown-item">Health</a>                   
                  </div>
                </li>
                <li class="nav-item">
                    <a class="links logo-font font-weight-bold nav-link mr-5" href="{% url 'authors' %}">
                        Authors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="links logo-font font-weight-bold nav-link mr-5" href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>
              </ul>
              <form id="navBarSearchForm" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <div class="input-group-append">
                            <button class="search-icon form-control rounded-left btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control" type="text" name="q" placeholder="Title, author, keyword...">                        
                    </div>
                </form>
            </div>
          </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

     <!-- Subscribe -->	  

    <section class="newsletter">
        <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <!-- Begin Mailchimp Signup Form -->
            <div>
                <form action="https://hotmail.us7.list-manage.com/subscribe/post?u=ac5e273c01c3fd8c551117877&amp;id=192c7f3df3&amp;f_id=0035cfe4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <h2>Subscribe to receive our news letter!</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    <!-- <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span> -->
                </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ac5e273c01c3fd8c551117877_192c7f3df3" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">                                        
                            </div>
                        </div>
                    </div>
                </form>
            </div>                        
            <!--End mc_embed_signup--> 
        </div>
        </div>
        </div>
    </section>


<!--- Footer -->
<section id="footer">	
	<div class="footer-social">			
		<a href="https://www.facebook.com/profile.php?id=100089263505322" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
		<a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
		<a href="https://www.twitter.com/" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
	</div>	
</section>

<!--- Footer End -->
<Section>
    <div class="container-fluid">
        <div class="subscribe footer-contact row justify-content-md-center">
            <div class="col-6">
                <h5><a href="{% url 'contact' %}" class="footer-contact"><i class="fa-solid fa-envelope"></i>contact</a></h5>
                <p><a href="https://www.privacypolicygenerator.info/live.php?token=bAHiGoItZlf1OA3Lj9KS5YpSyer2Tk8K" target="_blank" class="privacy">Privacy Police</a></p>
            </div>
            <div class="col-6">
                <p class="footer-p">© 2022. Created by Elcio Pagioro Pari</p>	
            </div>
        </div>
    </div>
</Section>

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}

<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>

    
  </body>
</html>