{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="author-background container-fluid">
    <div class="container">
        <div class="row">          
            {% for author in authors %}            
            <div class="col-6">      
                <h2> {{ author.name }} </h2>         
                <img class="author-img img-fluid" src="{{ author.image.url }}">
            </div>        
            <div class="col-6">
                    <p> Country: {{ author.country }} </p>
                    <p> Known for: {{ author.known_for }} </p> 
                    <p> {{ author.bio }} </p> 
            </div>
        </div>
            {% endfor %}
    </div>
</div>

{% endblock %}