{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="author-background container-fluid">
    <div class="author-container container">
        <div class="row">          
            {% for author in authors %}            
            <div class="col-md-6 mt-5">
                <img class="author-img img-fluid" src="{{ author.image.url }}">
            </div>                    
            <div class="col-md-6 mt-5">
                    <h2><strong> {{ author.name }} </strong></h2> 
                    <p><strong> Country: {{ author.country }} </strong></p>
                    <p><strong> Known for:</strong> {{ author.known_for }} </p> 
                    <p> {{ author.bio }} </p> 
            </div>            
            {% endfor %}
        </div>        
    </div>    
</div>


{% endblock %}