{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="contact container-fluid">
    <div class="container">
        <div class="row">
          <div class="col-md-6 mt-5">
            <h2>Contact Us</h2>
            <img class="about-img img-fluid" src="{{ MEDIA_URL }}contact.jpg"" alt="contact">
          </div>
          <div class="col-md-6 mt-5">            
              <form action="{% url 'contact' %}" class="about-form" method="POST" enctype="multipart/form-data">                  
                  {% csrf_token %}                         
                  <div>
                    {{ contact_form.name|as_crispy_field }}
                  </div>                
                  <div>
                    {{ contact_form.email|as_crispy_field }}
                  </div>
                  <div>
                    {{ contact_form.title|as_crispy_field }}
                  </div>
                  <div>
                    {{ contact_form.description|as_crispy_field }}
                  </div>         
                  <button type="submit" class="btn btn-secondary submit-form">Submit</button>
              </form>               
          </div>
        </div>
      </div>
    </div>

{% endblock %}